<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vids</key>
	<array/>
	<key>interval</key>
	<real>10</real>
	<key>imgs</key>
	<array/>
	<key>webUrl</key>
	<string>http://www.google.com</string>
	<key>config_path</key>
	<string>test_path</string>
	<key>vidPaths</key>
	<dict/>
	<key>imgPaths</key>
	<dict/>
</dict>
</plist>
